.bgGradient {
  background: linear-gradient(to right, #43414100, #201e1e00);
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 89, 0, 0.04);
}

::-webkit-scrollbar-thumb {
  background: #e75c2d
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.bgForm {
  background-image: url(/public/bgForm.jpg);
  background-size: cover;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #e75c2d;
  position: relative;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 1.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
}

